* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #141414; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  body {
    background-color: #141414;
    margin: 0;
  }
  .bg {
    background-image: url("./assets/Title-Image.png");
    height: 100vh;
    width: 99.05vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;
  }
  
  .flex1 button {
    color: whitesmoke;
    font-weight: 600;
    font-size: medium;
    background: None;
    border: none;
  }
  
  .flex1:nth-child(1) button img {
    height: 30px;
    width: 100px;
  }
  /* .flex1:nth-child(2) button img{} */
  
  .flex1:nth-child(1) {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flex1:nth-child(2) {
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header {
    background-color: rgba(50, 50, 50, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .info {
    width: fit-content;
    margin-top: 280px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info div:nth-child(1) {
    display: flex;
    color: white;
    font-weight: 700;
    align-items: center;
    padding: 5px 0px;
  }
  
  .info div:nth-child(1) img {
    height: 40px;
    width: 30px;
    margin-right: 10px;
  }
  
  .info div:nth-child(2) {
    color: white;
    font-size: 150px;
    font-weight: 600;
    align-items: center;
    padding: 5px 0px;
  }
  
  .info div:nth-child(3) {
    display: flex;
    font-weight: 600;
  }
  
  .info div:nth-child(3) button:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 50px;
    background: white;
    color: black;
    font-size: 15px;
    border: white;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .info div:nth-child(3) button:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background-color: rgba(200, 200, 200, 0.5);
    color: white;
    font-size: 15px;
    border: white;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 10px;
  }
  
  .info div:nth-child(3) button:nth-child(2) img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .add {
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
  }
  
  .seeagain {
    font-size: 25px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    justify-content: space-around;
    /* align-items: center; */
    color: white;
    display: flex;
    margin-left: 60px;
  }
  
  .seeagain div:nth-child(2) button {
    height: 45px;
    background: none;
    border: none;
  }
  
  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .top10 {
    font-size: 25px;
    font-weight: 600;
    width: 300px;
    height: 50px;
    justify-content: space-around;
    /* align-items: center; */
    color: white;
    display: flex;
    margin-left: 60px;
  }
  
  .top10 div:nth-child(2) button {
    height: 45px;
    background: none;
    border: none;
  }
  
  .row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
  }
  .trending {
    font-size: 25px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: flex;
    margin-left: 60px;
  }
  
  .trending div:nth-child(2) button {
    height: 45px;
    background: none;
    border: none;
  }
  
  .row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .scifi {
    font-size: 25px;
    font-weight: 600;
    width: 180px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: flex;
    margin-left: 60px;
  }
  
  .scifi div:nth-child(2) button {
    height: 45px;
    background: none;
    border: none;
  }
  
  .row4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .low1{
      color: #808080;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 40px;
  }
  
  .low1 .social{
      width: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  } 
  
  .low0{
      display:flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .lowbutton button{
      border: 1px solid #808080;
      width: 120px;
      height: 40px;
      background: none;
      background-color: none;
      color: #808080;
      font-size: 15px;
      font-weight: 600;
      margin-top: 10px;
  }